{% extends 'base.html.twig' %}

{% block title %}Traiter Sav
{% endblock %}

{% block body %}
	<h1>Traiter SAV</h1>

	{{ include('sav/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
