{{ form_start(search_form) }}

<div class="col-xs-12" style="float: left !important;">

	<div class="col-xs-1" style="padding-left: 1px;padding-left: 4px;">
		{{ form_row(search_form.d) }}
	</div>

	<div class="col-xs-1" style="padding-left: 1px;padding-left: 4px;">
		{{ form_row(search_form.dd) }}
	</div>
	<div class="col-xs-1" style="padding-left: 2px;padding-left: 2px;">
		<h1>
			<button class="btn btn-primary btn search-btn" type="submit">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>

			<button class="btn btn-primary" type="reset" id="reset-button">
				<i class="fa fa-refresh" aria-hidden="true"></i>
			</button>
		</h1>
	</div>


</div>
{{ form_end(search_form) }}
<script>
	document.getElementById("reset-button").addEventListener("click", function () { // Réinitialisez les paramètres de l'URL à vide
window.location.href = window.location.pathname;
});
</script>
