<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User List</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>User</th>
					<th>Last Access Date</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.username }}</td>
						<td>{{ user.lastLoginDate ? user.lastLoginDate|date('d/m/Y H:i:s') : 'pas acces' }}</td>
						{# Format the date #}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</body>
</html>
