{% extends 'base.html.twig' %}

{% block title %}Date d'accès
{% endblock %}

{% block body %}
	<h1>Date d'accès à l'application</h1>
	<table>
		<thead>
			<tr>
				<th>Utilisateur</th>
				<th>Date d'accès</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.lastLoginDate ? user.lastLoginDate|date('d/m/Y H:i:s') : 'Non disponible' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
