{% extends 'base.html.twig' %}

{% block title %}External Table
{% endblock %}

{% block body %}
	<h1>External Table Data</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Transaction</th>
				<th>Commande</th>
				<th>Type</th>
				<th>Date du paiement</th>
				<th>Statut</th>
				<th>Montant du paiement</th>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
				<tr>
					{% for cell in row %}
						<td>{{ cell }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
