<div class="text-center">
	<p>
		Copyright &copy; 2023,
		<strong>Aksam Assurance</strong>. All Rights Reserved
	</p>


	<div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="badr-bechtioui" data-version="v1">

		Created by &nbsp;
		<a class="badge-base__link LI-simple-link" href="https://ma.linkedin.com/in/badr-bechtioui?trk=profile-badge">Badr BECHTIOUI.</a>
	</div>


</div>
