<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Visualisation PDF</title>
		<style>
			iframe {
				width: 100%;
				height: 100vh;
				border: none;
			}
		</style>
	</head>
	<body>
		<iframe src="{{ asset(filePath) }}" allowfullscreen></iframe>
	</body>
</html>
<script type="text/javascript">
	document.addEventListener('contextmenu', event => event.preventDefault());
</script>
