{# templates/csv/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}CSV Data
{% endblock %}

{% block body %}
	<h1>CSV Data</h1>

	<table class="table table-striped table-advance ">
		<thead>
			<tr>
				<th>ToNumber</th>
				<th>Contact</th>
				<th>UserName</th>
				<th>TotalDuration</th>
			</tr>
		</thead>
		<tbody>

			{% for row in csvData %}
				<tr>
					<td>{{ row[1] ?? '' }}</td>
					<td>{{ row[10] ?? '' }}</td>
					<td>{{ row[11] ?? '' }}</td>
					<td>{{ row[12] ?? '' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
