<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- FontAwesome Min CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="assets/css/flaticon.css">

    <!-- Slick Min CSS -->
    <link rel="stylesheet" href="assets/css/slick.min.css">

    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Assurance pour véhicule professionnel.</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10999574715"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-10999574715');
    </script>

</head>

<body>



    <header class="header-area">
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-12">
                        <div class="top-header-right-side">
                            <p style="text-align: center;color: #FFF;font-size: 15px">Quelle que soient votre activité
                                et vos antécédents d'assurances, nous assurerons votre véhicule au meilleur tarif.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="top-header-right-side">
                            <ul>
                                <li>
                                    <div class="icon" style="left:-50px;"> <i class="flaticon-call"></i> </div>
                                    <a href="tel:0182834800">01 82 83 48 00</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="insurance-details-area ptb-100" style="padding-top: 110PX;">
        <div class="container">
            <div class="insurance-details-header">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="image">
                            <h1 class="d-none d-sm-block">Assurance pour véhicule professionnel</h1>
                            <img src="assets/img/photo1.png" style="
    height: 616px" class="d-none d-sm-block">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div style=" background-color: #082e5a;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    padding: 15px 15px 10px;
    font-size: 12px;
    margin-top: 0px;
   "> Complétez ce formulaire pour obtenir un tarif</div>
                        <div class="tab quote-list-tab" style="border: solid 1px #Adadad">
                            <div class="tab_content">
                                <div class="tabs_item">

                                    <form id="contactForm" method="post"
                                        action="https://assurance-vehicules-professionnels.fr/ins/vehicule-pro.php"
                                        class="form-horizontal parsley-validated" data-validate="parsley">
                                        <div class="row">

                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="nom" id="nom" class="form-control"
                                                        placeholder="Votre Nom *" required=""
                                                        data-error="Veuillez entrer votre Nom">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">

                                                    <input type="text" name="prenom" id="prenom" required=""
                                                        data-error="Veuillez entrer votre Prénom" class="form-control"
                                                        placeholder="Votre Prénom *">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="raison_sociale" class="form-control"
                                                        data-error="Veuillez entrer votre Raison sociale"
                                                        id="raison_sociale" required="" placeholder="Raison sociale...">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="activite" id="activite"
                                                        class="form-control" required=""
                                                        data-error="Veuillez entrer votre activité"
                                                        placeholder="Activité">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <select id="dactivite" name="dactivite" class="form-control"
                                                        style="color:#999999;text-align: left;">
                                                        <option value="" selected="">Démarrage d'activité </option>
                                                        <option value="OUI">OUI</option>
                                                        <option value="NON">NON</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <select id="assure" name="assure" class="form-control"
                                                        style="color:#999999;text-align: left;">
                                                        <option value="" selected="">Véhicule assuré actuellement ?
                                                        </option>
                                                        <option value="OUI">OUI</option>
                                                        <option value="NON">NON</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="number" name="code" id="code" required=""
                                                        data-error="Veuillez entrer votre Code Postal"
                                                        class="form-control" placeholder="Votre Code Postal*">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="number" name="telephone" id="telephone" required=""
                                                        data-error="Veuillez entrer votre Téléphone"
                                                        class="form-control" placeholder="Votre Téléphone *">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>




                                            <div class="col-lg-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="email" id="email" name="email" class="form-control"
                                                        required="" data-error="Veuillez entrer votre Email"
                                                        placeholder="E-mail">
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-6">



                                                <span style="font-size: 7px;">
                                                    En cliquant sur ‘Comparer’, vous acceptez de transmettre vos
                                                    informations à AKSAM ASSURANCES, qui accepte de les utiliser
                                                    conformément à sa politique de confidentialité dans le but de vous
                                                    fournir des propositions de devis d’assurances adapté à votre
                                                    recherche
                                                </span>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <button type="submit" class="default-btn"> Comparer </button>
                                            </div>
                                        </div>
                                        <input type="text" name="token" value="" style="display:none;" />
                                        <input type="hidden" name="MM_insertAU" value="contactForm" />
                                    </form>

                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>


    </section>
    <section class="blog-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details-desc">

                        <div class="article-content">


                            <h1 class="d-block d-sm-none" style="font-size:24px">Assurance pour véhicule professionnel
                            </h1>
                            <img src="assets/img/photo1.webp" style="
    height: 520px;margin-bottom: 100px" class="d-block d-sm-none">



                            <h3 style="margin-top: 0px">Assurance véhicule professionnels</h3>

                            <p>L&#39;assurance automobile professionnelle est une forme d&#39;assurance qui couvre les
                                véhicules utilisés à des fins professionnelles, comme les véhicules de transport de
                                marchandises ou de passagers, les camions et les camionnettes, les véhicules de
                                fonction….. Elle offre des couvertures supplémentaires pour couvrir les pertes et les
                                dommages causés aux véhicules et leurs passagers contre des risques variés, notamment
                                les collisions, le vol et les dommages matériels. Elle peut également couvrir les
                                passagers et les propriétaires contre des blessures et des responsabilités.</p>
                            <h3>Assurance auto professionnels</h3>

                            <p>Ils existent plusieurs types de véhicules à usage professionnels que nous pouvons
                                assurer:</p>


                            <ul class="features-list">
                                <li><i class="fas fa-check"></i>Assurance véhicule pro</li>
                                <li><i class="fas fa-check"></i>Assurance camion pro</li>
                                <li><i class="fas fa-check"></i>Assurance camionnette pro</li>
                                <li><i class="fas fa-check"></i>AAssurance dépanneuse</li>
                                <li><i class="fas fa-check"></i>Assurance utilitaire pro</li>
                                <li><i class="fas fa-check"></i>Assurance tracteur routier</li>
                                <li><i class="fas fa-check"></i>Assurance fourgon pro</li>
                                <li><i class="fas fa-check"></i>Assurance dépannage</li>
                                <li><i class="fas fa-check"></i>Assurance semi-remorque déterminé</li>
                                <li><i class="fas fa-check"></i>Assurance semi-remorque indéterminé</li>
                            </ul>

                            <h3>Assurance véhicule pro garanties</h3>
                            <p>Les garanties des assurances automobiles professionnelles peuvent varier selon le type de
                                contrat et le niveau de couverture souscrit. Les principales garanties comprennent
                                généralement:</p>

                            <ul class="features-list">
                                <li><i class="fas fa-check"></i>la responsabilité civile;</li>
                                <li><i class="fas fa-check"></i>l&#39;indemnisation des dommages corporels et matériels;
                                </li>
                                <li><i class="fas fa-check"></i>la protection contre le vol et les dommages causés à des
                                    tiers;</li>
                                <li><i class="fas fa-check"></i>la protection contre les catastrophes naturelles</li>
                                <li><i class="fas fa-check"></i>l&#39;indemnisation des frais juridique</li>
                                <li><i class="fas fa-check"></i>la couverture des frais de remorquage et de livraison
                                </li>
                                <li><i class="fas fa-check"></i>le remboursement des frais de réparation</li>
                                <li><i class="fas fa-check"></i>l’indemnisation en cas d’immobilisation du véhicule</li>
                            </ul>



                            <p>Il peut exister d’autres garanties incluses dans les contrats d’assurances automobiles
                                professionnelles</p>


                            <h3>Devis assurance auto professionnels</h3>

                            <p>Sociétés ou professionnels souhaitant assurer un ou plusieurs véhicules à usage
                                professionnels, compléter
                                le formulaire en haut de page afin d’obtenir un devis gratuit et sans frais.</p>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-12" style="border: solid 1px #Adadad;border-radius: 5px;height: 450px">
                    <aside class="widget-area" id="secondary">

                        <img src="assets/img/assurance-flotte-auto.jpg" alt="assurance VTC" style="padding-top: 10px;">
                        <br>
                        <br>
                        <h5>Véhicule professionnel</h5>
                        <p>Quel que soit le type de véhicule professionnel nous vous proposerons une assurance en tiers,
                            tiers plus ou tout risque</p>

                    </aside>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area" style="padding-top: 0px;">
        <div class="container">
            <div class="copyright-area">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-sm-6 col-md-6">
                        <p><i class="far fa-copyright"></i> 2021 Tous droits réservés AKSAM-assurances <span>|</span> <a
                                href="mentions-legales.php"> Mentions légales</a>

                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <ul>
                            <li>Entreprise soumise au contrôle de l'ACPR</li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
    <div class="go-top"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></div>

    <!-- jQuery Min JS -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <!-- Bootstrap Min JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Parallax Min JS -->
    <script src="assets/js/parallax.min.js"></script>
    <!-- Owl Carousel Min JS -->

    <!-- Nice Select Min JS -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Magnific Popup Min JS -->

    <!-- WOW Min JS -->
    <script src="assets/js/wow.min.js"></script>

    <script src="assets/js/parsley.js"></script>
    <script src="assets/js/messages.js"></script>
    <script src="assets/js/jquery.maskedinput.min.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
</body>

</html>


$nom = $_POST['nom'];
$prenom = $_POST['prenom'];
$telephone= $_POST['telephone'];


header("Location:/https://aksama-assurance.azurewebsites.net/prospect/valid?nom='.$nom.'&prenom='.$prenom.'&telephone='.$telephone.'&retour=http://www.ton-site-actuelle.fr/confirmation&source=http://www.ton-site-actuelle.fr/");
?>


header("Location: /confirmation-VTC.php");

return
$this->redirect('https://www.ton-application.fr/valid?valeur1='.$valeur1.'&valeur2='.$valeur2.'&valeur3='.$valeur3.'&retour=http://www.ton-site-actuelle.fr/confirmation&source=http://www.ton-site-actuelle.fr/');