{% extends 'base.html.twig' %}

{% block title %}Edit Contrat
{% endblock %}

{% block body %}
	<h1>Edit Contrat</h1>

	{{ include('contrat/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
{% block javascripts %}

	{{ parent() }}


	<script src='/js/ad.js'></script>


{% endblock %}
