{% extends 'base.html.twig' %}

{% block title %}Neuveau Contrat
{% endblock %}

{% block body %}

	<section class="content-header">
		<h1>créer un nouveau contrat
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('app_contrat_index') }}">
					<i class="fa fa-object-fonction"></i>
					Tous les Contrats</a>
			</li>
			<li class="active">Ajouter Contrat</li>
		</ol>
	</section>
	{{ include('contrat/_form.html.twig') }}


{% endblock %}
{% block javascripts %}

	{{ parent() }}

	<script src='/js/adaffect.js'></script>


{% endblock %}
